.gamesMenu {
  margin: auto;
  width: 30%;
  height: fit-content;
  border: 1px solid green;
  margin-top: 10%;
  text-align: center;
}
.square {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  text-align: center;
  margin: auto;
  /* height: auto; */
}
.xoContainer {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  padding: 18px;
}
.xoWrapper {
  margin: auto;
  width: 30%;
  height: fit-content;
  margin-top: 10%;
  text-align: center;
}
.wordContainer {
  margin: auto;
  width: 31%;
  height: fit-content;
  margin-top: 10%;
  text-align: center;
  border: 5px solid green;
  display: grid;
  grid-template-rows: 50px 50px 50px 50px 50px;
}
.wordWrapper {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  border: 1px solid red;
  height: 50px;
}
.word {
  /* display: grid;
  grid-template-columns: 50px 50px 50px 50px 50px;
  border-bottom: 5px solid green;
  width: 250px; */
}

.letterInput {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  /* display: flex; */
}

.greenText {
  color: green;
}

.redText {
  color: red;
}
